<footer>
    <div class="footer-info">
        <div>
            <i class="material-icons">local_shipping</i>
            <p>Envio para todo Brasil</p>
        </div>
        
        <div>
            <i class="material-icons">payment</i>
            <p>Pague via Pagseguro</p>
        </div>

        <div>
            <i class="material-icons">verified_user</i>
            <p>Compre com segurança</p>
        </div>

        <div>
            <i class="material-icons">event_note</i>
            <p>Orçamentos de tattoos respondidos em até 2 semanas</p>
        </div>
    </div>

    <div class="footer-cards">
        <div class="footer-card">
            <h2>Atendimento</h2>
            <div class="footer-card-line"></div>
            <div class="footer-card-content">
                <i class="material-icons">mail</i>
                <a href="mailto:info@codexstore.com.br"><p>info@codexstore.com.br</p></a>
            </div>
            <div class="footer-card-content">
                <img src="instagram.svg"/>
                <a href="http://instagram.com/edugoes_"><p>@edugoes_</p></a>    
            </div>
            
        </div>

        <div class="footer-card">
            <h2>Studio</h2>
            <div class="footer-card-line"></div>
            <div class="footer-card-content">
                <i class="material-icons">place</i>
                <a href="https://www.google.com.br/maps/place/R.+Taguá,+261+-+Liberdade,+São+Paulo+-+SP,+01508-010/@-23.5618171,-46.6386063,17z/data=!3m1!4b1!4m5!3m4!1s0x94ce59a69929c99d:0x83ec25931e519e14!8m2!3d-23.5618171!4d-46.6364176"><p>Rua Taguá, 261 - Liberdade, São Paulo/SP</p></a>
            </div>

            <div class="footer-card-content">
                <i class="material-icons">call</i>
                <a href="https://wa.me/11985390688"><p>(11) 96489-1654</p></a>
            </div>
        </div>

        <div class="footer-card">
            <h2>Dúvidas</h2>
            <div class="footer-card-line"></div>
            <div class="footer-card-content">
                <a href="/"><p>Perguntas frequentes</p></a>
            </div>
            <div class="footer-card-content">
                <a href="/"><p>Trocas e devoluções</p></a>
            </div>
            <div class="footer-card-content">
                <a href="/"><p>Envio e pagamento</p></a>
            </div>
            <div class="footer-card-content">
                <a href="/"><p>Agendamentos de Tattoo</p></a>
            </div>
        </div>
    </div>
</footer>


<script src="/scripts.js"></script>