<header>
    <div class="header-container">
        <div class="links-categories">
            <a href="/tattoo">Tattoo</a>
            <a href="/">Prints</a>
            <a href="/">Shirts</a>
        </div>
    
        <div class="logo">
            <a href="/"><img src="logo.png" alt="CodexStore"></a>
        </div>
        <div class="search-and-account-links">
            <form class="search" method="GET" action="/">
                <input 
                type="text"
                name="filter"
                >
                <button type="submit">
                    <i class="material-icons">
                        search
                    </i>
                </button>
            </form>
            <a href="/">
                <i class="material-icons">shopping_bag</i>
            </a>
            <a href="/">
                <i class="material-icons">person</i>
            </a>
        </div>
    </div>
</header>